<!DOCTYPE html>
<html>
  <head>
    <title>Mutably front-end</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <nav class="navbar navbar-default">
        <a class="navbar-brand" href="/">The Reading Rainbow</a>
      </nav>
      <div class="panel panel-default">
        <div class="panel-heading">Pick up a damn book!</div>
        <div class="create-form">
          <form>
            <input type="text" name="title" placeholder="Your Book Here">
            <input type="text" name="author" placeholder="Author">
            <input type="text" name="image" placeholder="Image Link">
            <input type="text" name="releasedate" placeholder="releasedate">
            <button type="submit">Create</button>
          </form>
        </div>
        <ul class="list-group">
          <!-- your resource items here -->
        </ul>
      </div>
    </div>
  </body>
</html>
