
.row {
  padding: 1%;
}

.jumbo {
  font-size: 2em;
}

.jumbotron {
  background-image: url('/images/speakers.jpg');
  background-size: 100% auto;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 9px #000000;
}
.buttonDiv{
display:inline-block;
padding-left: 30px;
}
.addAlbum{
 border-radius: 7px;
 width:120px;
 height: 30px;
 color:white;
 border:none;
}
.edit-form {
  display: none;
}

.save-btn {
  display: none;
  position: absolute;
  margin-top: 20px;
  bottom: 40px;
  border: 0px;
}

h3 {
  color: white;
  text-shadow: 2px 2px 9px #000000;
  padding: 0 3%;
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
  font-size: 2vw;
}

h4 {
  margin: 0;
}

h6 {
  margin: 0;
  font-size: .8em;
  text-align: right;
  font-weight: normal;
}

h6:before {
  display: block;
  white-space: pre;
  content: 'Release Date\A';
}

input {
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: .1em;
}

.shadows {
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: .1em;
}

span {
  position: absolute;
  display: flex;
  z-index: 2;
  height: 60px;
  margin-top: 70px;
}

.thumbnail {
  height: 500px;
}

.edit-btn {
  position: absolute;
  margin-top: 20px;
  bottom: 40px;
  background-color: black;
  border: 0px;
}

.edit-btn:hover {
  background-color: #1f1f1f;
}

.delete-btn {
  margin-left: 50px;
  position: absolute;
  margin-top: 20px;
  bottom: 40px;
  border: 0px;
}

h1, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}


@media only screen
  and (max-width: 768px) {
    .row {
      padding: 0;
    }
    div.caption {
      display: none;
    }
    h3 {
      font-size: 10vw;
    }
  }
